$primary-background-color: rgb(33, 33, 33);
$secondary-background-color: rgb(48, 48, 48);

$border-color: rgb(205, 205, 205);

$primary-text-color: rgb(255, 255, 255);
$secondary-text-color: rgb(149, 149, 149);

$primary-highlight-color: rgb(255, 108, 55);
$secondary-highlight-color: rgb(0, 110, 229);
$success-highlight-color: rgb(38, 224, 125);

$base-font-size: 16;
$base-font-family: "Roboto", sans-serif;
