* {
  box-sizing: border-box;
}

body {
  background-color: $primary-background-color;
  font-family: $base-font-family;
  font-size: #{$base-font-size}px;
  display: flex;
  justify-content: center;
}

.root {
  margin: 10px;
  max-width: 800px;
  border: $border-color solid 3px;
  display: grid;
  grid-template-rows: auto auto auto px-to-rem(300);
  grid-template-areas:
    "header"
    "name"
    "request-info"
    "response";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: px-to-rem(194) 1fr;
  border-bottom: $border-color solid 1px;

  #{&}__container {
    display: flex;
    align-items: center;
  }

  #{&}__container:first-of-type {
    border-right: $border-color solid 1px;
    justify-content: center;
  }

  #{&}__container:last-of-type {
    justify-content: end;
  }

  #{&}__title {
    color: $primary-text-color;
    font-weight: 500;
    font-size: px-to-rem(18);
  }

  #{&}__icon {
    font-size: px-to-rem(20);
    color: $primary-highlight-color;
    margin: 0 0 0 px-to-rem(10);
  }

  #{&}__icon--history:hover {
    color: rgb(175, 95, 67);
  }

  #{&}__btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 px-to-rem(20) 0 0;
  }
}
