.request-info {
  min-height: px-to-rem(300);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  #{&}__body {
    width: 100%;
    padding: 0 px-to-rem(35);
    position: absolute;
    left: 100%;
  }

  #{&}__body-opened {
    left: 0;
  }
}

.CodeMirror {
  border: $border-color solid 1px;
  outline: none;
  width: 100%;
  margin: 0;
  resize: none;
  padding: px-to-rem(10);
  overflow: hidden;
}

.cm-s-yonce.CodeMirror {
  height: px-to-rem(165);
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: px-to-rem(15);
  outline: 1px solid $border-color;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: $secondary-background-color;
}
