.headers-markup {
  background-color: $primary-background-color;
  width: 100%;

  .headers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: scroll;
    height: px-to-rem(81);
    position: relative;
  }

  .header-key,
  .header-value {
    background-color: $primary-background-color;
    color: $primary-text-color;
    position: sticky;
    top: 0;
  }

  .header-key,
  .header-value,
  .row-input {
    padding: 10px;
    border: white solid 1px;
  }

  .row {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .row-input {
    background-color: $primary-background-color;
    outline: none;
    color: $secondary-text-color;
  }

  .headers::-webkit-scrollbar {
    width: px-to-rem(15);
    outline: 1px solid $border-color;
  }

  .headers::-webkit-scrollbar-thumb {
    background-color: $secondary-background-color;
  }

  .list-container {
    list-style-type: none;
    font-weight: 300;
    font-size: px-to-rem(14);
  }
}
