.headers-markup {
  background-color: $primary-background-color;
  width: 100%;
  display: none;

  &.headers-opened {
    display: block;
  }

  .headers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: scroll;
    min-height: px-to-rem(81);
    position: relative;
    &:first-child {
      border-top: $secondary-text-color solid 1px;
    }
  }

  .header-key,
  .header-value {
    background-color: $primary-background-color;
    color: $primary-text-color;
    position: sticky;
    top: 0;
  }

  .header-key,
  .header-value,
  .row-input {
    padding: 10px;
    border: $secondary-text-color solid 1px;
    border-top: 0;
  }

  .row {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .row-input {
    background-color: $primary-background-color;
    outline: none;
    color: $secondary-text-color;
  }

  .headers::-webkit-scrollbar {
    display: none;
  }

  .headers::-webkit-scrollbar-thumb {
    background-color: $secondary-background-color;
  }

  .list-container {
    list-style-type: none;
    font-weight: 300;
    font-size: px-to-rem(14);
    padding-left: px-to-rem(5);
    border-bottom: 0;
    width: 50%;
    background-color: $secondary-background-color;
    color: $primary-text-color;
  }
}

li {
  border: $secondary-text-color solid 1px;
  border-bottom: 0;
  padding: px-to-rem(2) px-to-rem(4);

  &:last-child {
    border-bottom: $secondary-text-color solid 1px;
  }

  &:hover {
    cursor: pointer;
  }
}
