.send {
  display: grid;
  grid-area: name;
  grid-template-columns: 1fr 14fr 1fr;

  #{&}__submit {
    background-color: #1e61d9;
    color: white;
    border-color: #1e61d9;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    cursor: pointer;
  }

  #{&}__url {
    background-color: #212121;
    border-radius: 0 5px 5px 0;
    margin: 10px 10px 10px 0;
    border-color: white;
    color: white;
    padding: 10px;
  }

  #{&}__methods {
    background-color: #212121;
    border-color: white;
    color: white;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
  }
}
